.btn-primary {
  /*background-color: hsl(161, 42%, 52%);*/
  background-color: hsl(142, 96%, 27%);

  border-color: hsl(142, 96%, 27%);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #959595 !important;
  background-color: #e4e4e4 !important;
  border-color: #e4e4e4 !important;
}

.btn-primary:hover{
  background-color:  hsl(142, 96%, 27%);
  border-color: hsl(142, 96%, 27%);
}

a {
  color: hsl(142, 96%, 27%);
}

a:hover {
  color: hsl(142, 96%, 27%);
}

/* Remove first line */
.table.noHeaderLine > tbody > tr:first-child > td {
  border: none;
}